.App {
  text-align: left;
  width: 320px;
  height: 99px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #DD4470;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  /* color: #DD4470; */
  margin: 20px;
}

.container {
  background-color: #DD4470;
  padding: 20px;
  align-items: left;
  text-align: left;
}

.title {
  color: #C6DF75;
  font-size: 24px;
  padding-bottom: 5px;
}

.data {
  color: #FFE3B3;
  font-size: 18px;
  padding-bottom: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
